*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}
body{
    overflow-x: hidden;
    background-color: #F7F7F7;
}

.activeLink::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 100%;
    background-color: #00A1E0;
    border-radius: 12px;
    transform: translateX(-50px);
}
.noneActiveLink::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 30px);
    height: 100%;
    background-color: white;
    border-radius: 12px;
    transform: translateX(-50px);
}
.noneActiveLink:hover::before{
    background-color: #e0e0e038;
}
/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 4px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}





/* media queries */

@media (max-width:1342px){
  .gridUtilityMain{
    grid-template-columns: 2fr 1fr !important;
  }
}

@media (max-width:1186px){
  .gridUtilityMain{
    grid-template-columns: 1fr !important;
  }
}

@media (max-width:910px){
  .gridUtility1{
    grid-template-columns: 1fr !important;
    width: 100% !important;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width:520px){
  .dots{
   display: none !important;
  }

 
}
@media (max-width:586px){
  .dropDownClick{
    display: none !important;
  }
}

@media (max-width:372px){
  .dropDownClick{
    display: none !important;
  }
  .searchBtn{
    display: none !important;
  }
}
@media (max-width:1280px){
  .gridSecond{
    grid-template-columns: 1fr !important;
  }
}
